<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Credit Card</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #creditCardForm="ngForm" novalidate>
    <ion-list>



      <ion-item>
        <ion-label floating>billing_firstname</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_firstname" name="billing_firstname" type="text" #billing_firstname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_firstname.valid || submitted == false" color="danger" padding-left>
        billing_firstname is required
      </p>


      <ion-item>
        <ion-label floating>billing_lastname</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_lastname" name="billing_lastname" type="text" #billing_lastname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_lastname.valid || submitted == false" color="danger" padding-left>
        billing_lastname is required
      </p>


      <ion-item>
        <ion-label floating>billing_email</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_email" name="billing_email" type="text" #billing_email="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_email.valid || submitted == false" color="danger" padding-left>
        billing_email is required
      </p>


      <ion-item>
        <ion-label floating>billing_address</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_address" name="billing_address" type="text" #billing_address="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_address.valid || submitted == false" color="danger" padding-left>
        billing_address is required
      </p>


      <ion-item>
        <ion-label floating>billing_city</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_city" name="billing_city" type="text" #billing_city="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_city.valid || submitted == false" color="danger" padding-left>
        billing_city is required
      </p>


      <ion-item>
        <ion-label floating>billing_state</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_state" name="billing_state" type="text" #billing_state="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_state.valid || submitted == false" color="danger" padding-left>
        billing_state is required
      </p>


      <ion-item>
        <ion-label floating>billing_postalcode</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_postalcode" name="billing_postalcode" type="text" #billing_postalcode="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_postalcode.valid || submitted == false" color="danger" padding-left>
        billing_postalcode is required
      </p>


      <ion-item>
        <ion-label floating>billing_country</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_country" name="billing_country" type="text" #billing_country="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_country.valid || submitted == false" color="danger" padding-left>
        billing_country is required
      </p>


      <ion-item>
        <ion-label floating>billing_phone</ion-label>
        <ion-input [(ngModel)]="creditCard.billing_phone" name="billing_phone" type="text" #billing_phone="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="billing_phone.valid || submitted == false" color="danger" padding-left>
        billing_phone is required
      </p>


      <ion-item>
        <ion-label floating>cardholder</ion-label>
        <ion-input [(ngModel)]="creditCard.cardholder" name="cardholder" type="text" #cardholder="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="cardholder.valid || submitted == false" color="danger" padding-left>
        cardholder is required
      </p>


      <ion-item>
        <ion-label floating>exp_date</ion-label>
        <ion-input [(ngModel)]="creditCard.exp_date" name="exp_date" type="text" #exp_date="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="exp_date.valid || submitted == false" color="danger" padding-left>
        exp_date is required
      </p>


      <ion-item>
        <ion-label floating>cvv</ion-label>
        <ion-input [(ngModel)]="creditCard.cvv" name="cvv" type="text" #cvv="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="cvv.valid || submitted == false" color="danger" padding-left>
        cvv is required
      </p>


      <ion-item>
        <ion-label floating>card_number</ion-label>
        <ion-input [(ngModel)]="creditCard.card_number" name="card_number" type="text" #card_number="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="card_number.valid || submitted == false" color="danger" padding-left>
        card_number is required
      </p>















    </ion-list>
    <div padding>
      <button ion-button color="primary" block (click)="creditCardCreate(creditCardForm)"  type="submit">Save</button>
    </div>
  </form>
</ion-content>
