<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!this.navParams.data.fromWhichPage">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <div class="logo">
      <img src="assets/img/appicon.svg">
    </div>

    <form #loginForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <p [hidden]="username.valid || submitted == false" color="danger" padding-left>
        Email is required
      </p>

      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="password.valid || submitted == false" color="danger" padding-left>
        Password is required
      </p>

      <ion-row responsive-sm>
        <ion-col>
          <button ion-button (click)="onLogin(loginForm)" type="submit" color="primary" block>Login</button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="onSignup()" color="light" block>Signup</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
  <ion-list>
    <button ion-button (click)="onSignupFacebook()" color="light" block>Sign in with Facebook</button>
  </ion-list>

</ion-content>
