<ion-header>
  <ion-toolbar>
    <ion-title>
      Traveller
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>

      <ion-row>
        <ion-col>
          <div class="travelars">
            <ion-label stacked>Adult</ion-label>
            <button ion-button color="light" small (click)="changeTravellers('adult','-')">-</button><button ion-button color="light" outline small >{{searchObj.adults}}</button><button ion-button color="light" small  (click)="changeTravellers('adult','+')">+</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <div class="travelars">
            <ion-label stacked>Childs</ion-label>
            <button ion-button color="light" small (click)="changeTravellers('child','-')">-</button><button ion-button color="light" outline small >{{searchObj.childs}}</button><button ion-button color="light" small (click)="changeTravellers('child','+')">+</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <div class="travelars">
            <ion-label stacked>Infant</ion-label>
            <button ion-button color="light" small (click)="changeTravellers('infant','-')">-</button><button ion-button color="light" outline small >{{searchObj.infant}}</button><button ion-button color="light" small (click)="changeTravellers('infant','+')">+</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-item>
            <ion-label stacked>Class</ion-label>
            <ion-select [(ngModel)]="searchObj.tripClass">
              <ion-option value="Economy">Economy</ion-option>
              <ion-option value="PremiumEconomy">Premium Economy</ion-option>
              <ion-option value="Business">Business</ion-option>
              <ion-option value="First">First</ion-option>
              <ion-option value="Premium First">Premium First</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col width-100>-->
          <!--<button ion-button block (click)="searchMe()">Search</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  </ion-list>
</ion-content>
