$categories: (
  ionic: color($colors, primary),
  angular: #AC282B,
  communication: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  workshop: #69BB7B,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

.searchTableRow{
  border-bottom:1px solid #f1f1f1;
}

.jatry-footer .toolbar-md{
  padding:0 5px;
  min-height:50px
}

.jatry-footer .bar-button-secondary-md,
.jatry-footer .bar-button-clear-md-secondary,
.jatry-footer .bar-button-md-secondary{
  color: #fff;
  background-color: #32db64;
}

.jatry-footer .toolbar-background-md{
  border-color: #ffd900;
  background: #ffd900;
}

.jatry-footer ion-grid{
  padding:0 0 0 5px;
}
.jatry-footer ion-grid ion-col{
  padding:0;
}
.jatry-footer ion-grid ion-col .label-md{
  margin:0;
}

.flight-detail-cont ion-grid ion-col strong, .flight-detail-cont ion-grid ion-col span{
  display:block;
}
.flight-det-head {
  background:#f5f5f5;
}

page-searchresult-detail ion-label{
  font-size:12px;
}
page-searchresult-detail .item.list-header-md.item-md{
  background:#f5f5f5;
}

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-searchresult {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}
