<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Flight Schedule Detail</ion-title>

  </ion-navbar>

</ion-header>

<ion-content class="flight-detail-cont">

  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>Origin</ion-col><ion-col  width-50>{{searchParam.origin}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Destination</ion-col><ion-col  width-50>{{searchParam.destination}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Departure</ion-col><ion-col  width-50>{{searchParam.departureDate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Return</ion-col><ion-col  width-50>{{searchParam.arrivalDate}}</ion-col>
        </ion-row>
        <ion-row *ngIf="searchParam.tripType=='O'">
          <ion-col  width-50>Cabin Class</ion-col><ion-col  width-50>{{searchParam.tripClass}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-fab-list>
  </ion-fab>

  <ion-list >
    <ion-list-header>
      <ion-label  style="display:block"><strong>{{searchParam.origin}} -> {{searchParam.destination}}</strong></ion-label><br/>
      <ion-label style="display:block">{{flightItem.Refundable?'Refundable':'>Non Refundable'}}</ion-label>
    </ion-list-header>
  </ion-list>

  <ion-grid>
    <ion-row class="flight-det-head">


    </ion-row>


  </ion-grid>
  <ion-grid *ngFor="let itmRoute of flightItem.Journey.Routes">
    <ion-row *ngFor="let itm of itmRoute.AirSegment;let itmIndex = index">
      <ion-col width-100>
        <ion-row >
          <ion-col>
          <!--<strong><img src="{{'/assets/api.travelport/images/' + itm.Carrier + '.png'}}" alt="not found" style="height: 40px;display:block;margin:0 auto;" onError="this.src='/assets/img/appicon.png'"  ></strong>-->
          <!--<strong><img src="{{'/assets/api.travelport/images/' + itm.Carrier + '.png'}}" alt="not found" style="height: 40px;display:block;margin:0 auto;" onError="this.src='/assets/img/appicon.png'"  ></strong>-->
            <strong>{{airlinesByIata(itm.Carrier)}}</strong></ion-col>
          <ion-col><strong *ngIf="(itmIndex+1)!=itmRoute.AirSegment.length">Fare Rules</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            <!--<strong>{{itm.Origin}} {{itm.DepartureTime| date:'hh:mm a'}}</strong>-->
            <!--<span>{{itm.DepartureTime| date}}</span>-->
            <span>{{getAirportName(itm.Origin)}}</span>
          </ion-col>
          <ion-col width-33>
            <strong>{{itm.Distance}} minutes</strong>
            <span>Flight No: {{itm.FlightNumber}}</span>
            <span>Flight Time: {{itm.FlightTime}}</span>
          </ion-col>
          <ion-col width-33>
            <!--<strong>{{itm.Destination}} {{itm.ArrivalTime| date:'hh:mm a'}}</strong>-->
            <!--<span>{{itm.ArrivalTime| date}}</span>-->
            <span>{{getAirportName(itm.Destination)}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-100 *ngIf="(itmIndex+1)!=itmRoute.AirSegment.length" style="background:#fafafa;border:1px solid #ccc;border-radius:4px;">
              <span>Layover: {{getAirportName(itmRoute.AirSegment[itmIndex].Destination)}} ({{itmRoute.AirSegment[itmIndex].Destination}}) | Time: {{dateDifference(itmRoute.AirSegment[itmIndex+1].DepartureTime, itmRoute.AirSegment[itmIndex].ArrivalTime)}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-list >
    <ion-list-header>
      <ion-label><strong>Price Detail</strong></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Approximate Base Price<span>:</span></ion-label>
      <ion-label>{{flightItem.ApproximateBasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Approximate Taxes<span>:</span></ion-label>
      <ion-label>{{flightItem.ApproximateTaxes}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Approximate Total Price<span>:</span></ion-label>
      <ion-label>{{flightItem.ApproximateTotalPrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Base Price<span>:</span></ion-label>
      <ion-label>{{flightItem.BasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Equivalent Base Price<span>:</span></ion-label>
      <ion-label>{{flightItem.EquivalentBasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Taxes<span>:</span></ion-label>
      <ion-label>{{flightItem.Taxes}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total Price<span>:</span></ion-label>
      <ion-label><strong>{{flightItem.TotalPrice}}</strong></ion-label>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer class="jatry-footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col stacked>
          <ion-label>Total Amount</ion-label>
          <ion-label>{{flightItem.TotalPrice}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-buttons right>
      <button ion-button color="secondary" (click)="goToTravellersPage()">Book now</button>
    </ion-buttons>
  </ion-toolbar>


</ion-footer>
