<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Travellers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>Origin</ion-col><ion-col  width-50>{{searchParam.origin}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Destination</ion-col><ion-col  width-50>{{searchParam.destination}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Departure</ion-col><ion-col  width-50>{{searchParam.departureDate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Return</ion-col><ion-col  width-50>{{searchParam.arrivalDate}}</ion-col>
        </ion-row>
        <ion-row *ngIf="searchParam.tripType=='O'">
          <ion-col  width-50>Cabin Class</ion-col><ion-col  width-50>{{searchParam.tripClass}}</ion-col>
        </ion-row>
      </ion-grid>
      <!--<button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>-->
      <!--<button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>-->
      <!--<button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>-->
      <!--<button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>-->
    </ion-fab-list>
  </ion-fab>

  <ion-grid class="travellers-list">
    <ion-row *ngIf="travellers.adults">
      <ion-col>
        <ion-label><strong>Adult(s)</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let traveller of travellers.adults;let itmIndex = index" (click)="openTravellersForm(traveller)">
      <ion-col width-100>
          <ion-item>Adult {{itmIndex+1}}<span>: {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="travellers.childs">
      <ion-col>
        <ion-label><strong>Child(s)</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let traveller of travellers.childs;let itmIndex = index" (click)="openTravellersForm(traveller)">
      <ion-col width-100>
        <ion-item>Child {{itmIndex+1}}<span>: {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-item>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="travellers.infants">
      <ion-col>
        <ion-label><strong>Infant(s)</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let traveller of travellers.infants;let itmIndex = index" (click)="openTravellersForm(traveller)">
      <ion-col width-100>
        <ion-item>Infant {{itmIndex+1}}<span>: {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="jatry-footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col stacked>
          <ion-label>Total Amount</ion-label>
          <ion-label>{{flightItem.TotalPrice}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-buttons right>
      <button ion-button color="secondary" (click)="goToPaymentPage()">Pay Now</button>
    </ion-buttons>
  </ion-toolbar>


</ion-footer>
