<ion-header>
  <ion-navbar no-border-bottom color="light">
    <div style="padding-top: 2px">
      &nbsp; &nbsp;<img src="http://jatry.zeteq.com/img/logo-with-text.svg" alt="" style="height: 24px;">
    </div>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>


  </ion-navbar>

</ion-header>

<ion-content >
  <ion-segment [(ngModel)]="flightType" color="dark">
    <ion-segment-button value="D">
      Domestic
    </ion-segment-button>
    <ion-segment-button value="I">
      International
    </ion-segment-button>
    <!--<ion-segment-button value="M">-->
    <!--Multi City-->
    <!--</ion-segment-button>-->
  </ion-segment>

  <div *ngIf="flightType=='I'">
    <ion-list radio-group [(ngModel)]="searchObj.tripType" color="dark" no-lines>
      <ion-row>
        <ion-col col-50>
          <ion-item>
            <ion-label>One way</ion-label>
            <ion-radio value="O" color="dark" ></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-50>
          <ion-item>
            <ion-label >Round Trip</ion-label>
            <ion-radio  value="R" color="dark"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>

  <!--<ion-segment [(ngModel)]="searchObj.tripType" color="dark">-->
    <!--<ion-segment-button value="O">-->
      <!--One way-->
    <!--</ion-segment-button>-->
    <!--<ion-segment-button value="R">-->
      <!--Round Trip-->
    <!--</ion-segment-button>-->
    <!--&lt;!&ndash;<ion-segment-button value="M">&ndash;&gt;-->
    <!--&lt;!&ndash;Multi City&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-segment-button>&ndash;&gt;-->
  <!--</ion-segment>-->
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked (click)="selectCity('from')">Departing From </ion-label>
            <ion-label stacked (click)="selectCity('from')">{{searchObj.origin}}</ion-label>

          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked (click)="selectCity('to')">Destination</ion-label>
            <ion-label stacked (click)="selectCity('to')">{{searchObj.destination}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-item>
            <ion-label stacked>Departure Date</ion-label>
            <ion-datetime min="2016" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="searchObj.departureDate"></ion-datetime>
          </ion-item>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col  *ngIf="searchObj.tripType=='R'">
          <ion-item>
            <ion-label stacked >Return</ion-label>
            <ion-datetime min="2016" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="searchObj.arrivalDate"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>


      <!--<ion-row>-->
        <!--<ion-col>-->
          <!--<div class="travelars">-->
            <!--<ion-label stacked>Adult</ion-label>-->
            <!--<button ion-button color="light" small (click)="changeTravellers('adult','-')">-</button><button ion-button color="light" outline small >{{searchObj.adults}}</button><button ion-button color="light" small  (click)="changeTravellers('adult','+')">+</button>-->
          <!--</div>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col >-->
          <!--<div class="travelars">-->
            <!--<ion-label stacked>Childs</ion-label>-->
            <!--<button ion-button color="light" small (click)="changeTravellers('child','-')">-</button><button ion-button color="light" outline small >{{searchObj.childs}}</button><button ion-button color="light" small (click)="changeTravellers('child','+')">+</button>-->
          <!--</div>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col >-->
          <!--<div class="travelars">-->
            <!--<ion-label stacked>Infant</ion-label>-->
            <!--<button ion-button color="light" small (click)="changeTravellers('infant','-')">-</button><button ion-button color="light" outline small >{{searchObj.infant}}</button><button ion-button color="light" small (click)="changeTravellers('infant','+')">+</button>-->
          <!--</div>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
      <!--<ion-row>-->
        <!--<ion-col width-100>-->
          <!--<ion-item>-->
            <!--<ion-label stacked>Class</ion-label>-->
            <!--<ion-select [(ngModel)]="searchObj.tripClass">-->
              <!--<ion-option value="Economy">Economy</ion-option>-->
              <!--<ion-option value="PremiumEconomy">Premium Economy</ion-option>-->
              <!--<ion-option value="Business">Business</ion-option>-->
              <!--<ion-option value="First">First</ion-option>-->
              <!--<ion-option value="Premium First">Premium First</ion-option>-->
            <!--</ion-select>-->
          <!--</ion-item>-->
        <!--</ion-col>-->
      <!--</ion-row>-->

    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col width-100>
          <!--<button ion-button block (click)="openModal()">Search</button>-->
          <button ion-button block outline color="dark" (click)="openModal()">{{searchObj.adults + searchObj.childs + searchObj.infant + ' Travellers, ' + searchObj.tripClass +' Class'}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col width-100>-->
          <!--<button ion-button block (click)="searchMe()">Search</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  </ion-list>
</div>
  <div *ngIf="flightType=='D'">
    <ion-list radio-group [(ngModel)]="domSearchObj.tripType" color="dark" no-lines>
      <ion-row>
        <ion-col col-50>
          <ion-item>
            <ion-label>One way</ion-label>
            <ion-radio value="O" color="dark" ></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-50>
          <ion-item>
            <ion-label >Round Trip</ion-label>
            <ion-radio  value="R" color="dark"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list>
      <ion-grid>



        <ion-row>
          <ion-col width-100>
            <ion-item>
              <ion-label stacked>Origin</ion-label>
              <ion-select [(ngModel)]="domSearchObj.origin">
                <ion-option *ngFor="let city of domesticList" [value] ="city.id">{{city.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-100>
            <ion-item>
              <ion-label stacked>Origin</ion-label>
              <ion-select [(ngModel)]="domSearchObj.destination">
                <ion-option *ngFor="let city of domesticList" [value] ="city.id">{{city.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col >
            <ion-item>
              <ion-label stacked>Departure Date</ion-label>
              <ion-datetime min="2016" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="domSearchObj.departureDate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  *ngIf="domSearchObj.tripType=='R'">
            <ion-item>
              <ion-label stacked >Return</ion-label>
              <ion-datetime min="2016" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="domSearchObj.arrivalDate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>


        <!--<ion-row>-->
        <!--<ion-col>-->
        <!--<div class="travelars">-->
        <!--<ion-label stacked>Adult</ion-label>-->
        <!--<button ion-button color="light" small (click)="changeTravellers('adult','-')">-</button><button ion-button color="light" outline small >{{domSearchObj.adults}}</button><button ion-button color="light" small  (click)="changeTravellers('adult','+')">+</button>-->
        <!--</div>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<ion-row>-->
        <!--<ion-col >-->
        <!--<div class="travelars">-->
        <!--<ion-label stacked>Childs</ion-label>-->
        <!--<button ion-button color="light" small (click)="changeTravellers('child','-')">-</button><button ion-button color="light" outline small >{{domSearchObj.childs}}</button><button ion-button color="light" small (click)="changeTravellers('child','+')">+</button>-->
        <!--</div>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<ion-row>-->
        <!--<ion-col >-->
        <!--<div class="travelars">-->
        <!--<ion-label stacked>Infant</ion-label>-->
        <!--<button ion-button color="light" small (click)="changeTravellers('infant','-')">-</button><button ion-button color="light" outline small >{{domSearchObj.infant}}</button><button ion-button color="light" small (click)="changeTravellers('infant','+')">+</button>-->
        <!--</div>-->
        <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<ion-row>-->
        <!--<ion-col width-100>-->
        <!--<ion-item>-->
        <!--<ion-label stacked>Class</ion-label>-->
        <!--<ion-select [(ngModel)]="domSearchObj.tripClass">-->
        <!--<ion-option value="Economy">Economy</ion-option>-->
        <!--<ion-option value="PremiumEconomy">Premium Economy</ion-option>-->
        <!--<ion-option value="Business">Business</ion-option>-->
        <!--<ion-option value="First">First</ion-option>-->
        <!--<ion-option value="Premium First">Premium First</ion-option>-->
        <!--</ion-select>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--</ion-row>-->

      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col width-100>
            <!--<button ion-button block (click)="openModal()">Search</button>-->
            <button ion-button block outline color="dark" (click)="openModalDom()">{{domSearchObj.adults + domSearchObj.childs + domSearchObj.infant + ' Travellers, ' + domSearchObj.tripClass +' Class'}}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--<ion-grid>-->
      <!--<ion-row>-->
      <!--<ion-col width-100>-->
      <!--<button ion-button block (click)="searchMe()">Search</button>-->
      <!--</ion-col>-->
      <!--</ion-row>-->
      <!--</ion-grid>-->
    </ion-list>
  </div>
</ion-content>

<!--<ion-footer>-->
  <!--<ion-grid>-->
    <!--<ion-row>-->
      <!--<ion-col width-100>-->
        <!--<button ion-button block (click)="searchMe()">Search</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-footer>-->
<ion-footer no-border-bottom>
  <ion-toolbar color="trans">
    <button ion-button block (click)="searchMe()">Search</button>
  </ion-toolbar>
</ion-footer>
