$categories: (
  ionic: color($colors, primary),
  angular: #AC282B,
  communication: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  workshop: #69BB7B,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

page-home .button-outline-md-light,
page-home-modal .button-outline-md-light{
  color:#000;
}
page-home .travelars,
  page-home-modal .travelars{
  padding-left:16px;
}
@function auxiliary-categories() {
  @return map-remove($categories);
}

page-home {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}
