<ion-header>
  <ion-toolbar>
    <ion-title>
      Description
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="{{character.image}}">
      </ion-avatar>
      <h2>{{character.name}}</h2>
      <p>{{character.quote}}</p>
    </ion-item>

    <ion-item *ngFor="let item of character['items']">
      {{item.title}}
      <ion-note item-right>
        {{item.note}}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
