<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Current Booking Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="flight-detail-cont">

  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>Origin</ion-col><ion-col  width-50>{{invoice.ticket?.origin}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Destination</ion-col><ion-col  width-50>{{invoice.ticket?.destination}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Departure</ion-col><ion-col  width-50>{{invoice.ticket?.departureDate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Return</ion-col><ion-col  width-50>{{invoice.ticket?.arrivalDate}}</ion-col>
        </ion-row>
        <ion-row *ngIf="invoice.ticket?.tripType=='O'">
          <ion-col  width-50>Cabin Class</ion-col><ion-col  width-50>{{invoice.ticket?.tripClass}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-fab-list>
  </ion-fab>

  <ion-list >
    <ion-list-header>
      <ion-label  style="display:block"><strong>{{invoice.ticket?.route[0]?.Origin}} -> {{invoice.ticket?.route[0]?.Destination}}</strong></ion-label><br/>
      <ion-label style="display:block">{{invoice.ticket?.Refundable?'Refundable':'>Non Refundable'}}</ion-label>
    </ion-list-header>
  </ion-list>

  <ion-grid>
    <ion-row class="flight-det-head">


    </ion-row>


  </ion-grid>
  <ion-grid *ngFor="let itmRoute of invoice.ticket?.route">
    <ion-row *ngFor="let itm of itmRoute.segment;let itmIndex = index">
      <ion-col width-100>
        <ion-row >
          <ion-col>
            <!--<strong><img src="{{'/assets/api.travelport/images/' + itm.Carrier + '.png'}}" alt="not found" style="height: 40px;display:block;margin:0 auto;" onError="this.src='/assets/img/appicon.png'"  ></strong>-->
            <!--<strong><img src="{{'/assets/api.travelport/images/' + itm.Carrier + '.png'}}" alt="not found" style="height: 40px;display:block;margin:0 auto;" onError="this.src='/assets/img/appicon.png'"  ></strong>-->
            <strong>{{airlinesByIata(itm.Carrier)}}</strong></ion-col>
          <ion-col><strong *ngIf="(itmIndex+1)!=itmRoute.segment.length">Fare Rules</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33>
            <!--<strong>{{itm.Origin}} {{itm.DepartureTime| date:'hh:mm a'}}</strong>-->
            <!--<span>{{itm.DepartureTime| date}}</span>-->
            <span>{{getAirportName(itm.Origin)}}</span>
          </ion-col>
          <ion-col width-33>
            <strong>{{itm.Distance}} minutes</strong>
            <span>Flight No: {{itm.FlightNumber}}</span>
            <span>Flight Time: {{itm.FlightTime}}</span>
          </ion-col>
          <ion-col width-33>
            <!--<strong>{{itm.Destination}} {{itm.ArrivalTime| date:'hh:mm a'}}</strong>-->
            <!--<span>{{itm.ArrivalTime| date}}</span>-->
            <span>{{getAirportName(itm.Destination)}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-100 *ngIf="(itmIndex+1)!=itmRoute.segment.length" style="background:#fafafa;border:1px solid #ccc;border-radius:4px;">
            <span>Layover: {{getAirportName(itmRoute.segment[itmIndex].Destination)}} ({{itmRoute.segment[itmIndex].Destination}}) | Time: {{dateDifference(itmRoute.segment[itmIndex+1].DepartureTime, itmRoute.segment[itmIndex].ArrivalTime)}}</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-list >
    <ion-list-header>
      <ion-label><strong>Price Detail</strong></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Approximate Base Price<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.ApproximateBasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Approximate Taxes<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.ApproximateTaxes}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Approximate Total Price<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.ApproximateTotalPrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Base Price<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.BasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Equivalent Base Price<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.EquivalentBasePrice}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Taxes<span>:</span></ion-label>
      <ion-label>{{invoice.ticket?.Taxes}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Total Price<span>:</span></ion-label>
      <ion-label><strong>{{invoice.ticket?.TotalPrice}}</strong></ion-label>
    </ion-item>

  </ion-list>

</ion-content>
