
<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="calendar"></ion-tab>
  <!--<ion-tab [root]="tab2Root" tabTitle="Speakers" tabIcon="contacts"></ion-tab>-->
  <!--<ion-tab [root]="tab3Root" tabTitle="Map" tabIcon="map"></ion-tab>-->
  <!--<ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab>-->
</ion-tabs>
