<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Canceled Booking List</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<button ion-item *ngFor="let item of travellerList; let i = index" (click)="travellerDetails(item)">-->
    <!--{{ i+1 + '. ' +item.first_name + ' ' + item.middle_name + ' ' + item.last_name}}-->
    <!--</button>-->

    <ion-item-sliding *ngFor="let item of currentBooking; let i = index" #itemSliding>
      <ion-item  (click)="currentBookingDetails(item)">
        {{ i+1 + '. ' +item.order_number}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteTraveller(item, itemSliding)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
