<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Old Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass.oldPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass.newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass.confirmPassword"></ion-input>
    </ion-item>

  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="passwordUpdate()">Save</button>
  </div>
</ion-content>

<!--<ion-footer >-->
  <!--<ion-toolbar>-->
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col width-100>-->
          <!--<button ion-button block (click)="profileUpdate()" color="secondary">Save</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
