<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Payment & Billing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>Origin</ion-col><ion-col  width-50>{{searchParam.origin}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Destination</ion-col><ion-col  width-50>{{searchParam.destination}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Departure</ion-col><ion-col  width-50>{{searchParam.departureDate}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col  width-50>Return</ion-col><ion-col  width-50>{{searchParam.arrivalDate}}</ion-col>
        </ion-row>
        <ion-row *ngIf="searchParam.tripType=='O'">
          <ion-col  width-50>Cabin Class</ion-col><ion-col  width-50>{{searchParam.tripClass}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-fab-list>
  </ion-fab>

  <ion-list >
    <ion-list-header>
      <ion-label><strong>Billing Address</strong></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Firstname<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Lastname<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Address<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>City<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Postalcode<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list >
    <ion-list-header>
      <ion-label><strong>Card Information</strong></ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Card Number<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fullname<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Expiry Date<span>:</span></ion-label>
      <ion-datetime min="2016" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>CVV Number<span>:</span></ion-label>
      <ion-input></ion-input>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer class="jatry-footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col stacked>
          <ion-label>Total Amount</ion-label>
          <ion-label>{{flightItem.TotalPrice}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-buttons right>
      <button ion-button color="secondary" (click)="gotoConfirmationSummarypage()">Confirm Summary</button>
    </ion-buttons>
  </ion-toolbar>


</ion-footer>
