
<!-- logged out menu -->
<ion-menu  id="loggedOutMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <!--<ion-list>-->
      <!--<ion-list-header>-->
        <!--My Flights-->
      <!--</ion-list-header>-->
      <!--<button ion-item menuClose *ngFor="let p of appPagesMyFlights" (click)="openPage(p)">-->
        <!--<ion-icon item-left [name]="p.icon"></ion-icon>-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->

    <!--<ion-list>-->
      <!--<ion-list-header>-->
        <!--My Accounts-->
      <!--</ion-list-header>-->
      <!--<button ion-item menuClose *ngFor="let p of appPagesMyAccounts" (click)="openPage(p)">-->
        <!--<ion-icon item-left [name]="p.icon"></ion-icon>-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- logged in menu -->
<ion-menu id="loggedInMenu" [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">

    <ion-list>
      <ion-list-header>
        Navigate
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        MY FLIGHTS
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of myFlightPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>
        MY ACCOUNT
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of myAccountPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        SYSTEM
      </ion-list-header>
      <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>

  </ion-content>

</ion-menu>


<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
