<ion-header>
  <ion-toolbar>
    <ion-title>
      Travellers Detail
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="outer-content">

  <ion-list *ngFor="let traveller of travellers.adults;let itmIndex = index">
    <ion-item>
      <ion-label><strong>Adult {{itmIndex+1}} </strong><span> : {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-select [(ngModel)]="traveller.title">
        <ion-option value="Mr.">Mr.</ion-option>
        <ion-option value="Mrs.">Mrs.</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Firstname (and Middlename, if you have)</ion-label>
      <ion-input type="text"  [(ngModel)]="traveller.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.last_name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let traveller of travellers.childs;let itmIndex = index">
    <ion-item>
      <ion-label><strong>Child {{itmIndex+1}}</strong><span> : {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-select [(ngModel)]="traveller.title">
        <ion-option value="Mr.">Mr.</ion-option>
        <ion-option value="Mrs.">Mrs.</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Firstname (and Middlename, if you have)</ion-label>
      <ion-input type="text"  [(ngModel)]="traveller.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.last_name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngFor="let traveller of travellers.infants;let itmIndex = index">
    <ion-item>
      <ion-label><strong>Infant {{itmIndex+1}}</strong><span> : {{traveller.title}} {{traveller.first_name}} {{traveller.last_name}}</span></ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-select [(ngModel)]="traveller.title">
        <ion-option value="Mr.">Mr.</ion-option>
        <ion-option value="Mrs.">Mrs.</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Firstname (and Middlename, if you have)</ion-label>
      <ion-input type="text"  [(ngModel)]="traveller.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime min="1971" max="2020" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="traveller.dob"></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="jatry-footer">
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button color="light" (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button color="secondary" (click)="checkValidDone()">Done</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

