<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Traveller Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>title</ion-label>
      <ion-select [(ngModel)]="traveller.title">
        <ion-option value="Mr">Mr</ion-option>
        <ion-option value="Mrs">Mrs</ion-option>
        <ion-option value="Miss">Miss</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>first_name</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>middle_name</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.middle_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>last_name</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>dob</ion-label>
      <ion-datetime min="1900" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="traveller.dob"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>nationality</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.nationality"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>passenger_type</ion-label>
      <ion-select [(ngModel)]="traveller.passenger_type">
        <ion-option value="adults">Adult</ion-option>
        <ion-option value="childs">Child</ion-option>
        <ion-option value="infant">Infant</ion-option>
      </ion-select>

    </ion-item>
    <ion-item>
      <ion-label floating>passport_no</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.passport_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>passport_issue_country</ion-label>
      <ion-input type="text" [(ngModel)]="traveller.passport_issue_country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>passport_expiry_date</ion-label>
      <ion-datetime min="2000" max="2040" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY" [(ngModel)]="traveller.passport_expiry_date"></ion-datetime>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="travellerUpdate()">Save</button>
  </div>
</ion-content>
