<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Travellers List</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addTraveller()">
        New
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<button ion-item *ngFor="let item of travellerList; let i = index" (click)="travellerDetails(item)">-->
      <!--{{ i+1 + '. ' +item.first_name + ' ' + item.middle_name + ' ' + item.last_name}}-->
    <!--</button>-->

    <ion-item-sliding *ngFor="let item of travellerList; let i = index" #itemSliding>
      <ion-item  (click)="travellerDetails(item)">
        {{ i+1 + '. ' +item.title + ' ' +item.first_name + ' ' + item.middle_name + ' ' + item.last_name}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteTraveller(item, itemSliding)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<!--<ion-footer >-->
  <!--<ion-toolbar>-->
    <!--<ion-grid>-->
      <!--<ion-row>-->
        <!--<ion-col width-100>-->
          <!--<button ion-button block (click)="profileUpdate()" color="secondary">Save</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-grid>-->
  <!--</ion-toolbar>-->
<!--</ion-footer>-->
