<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<button ion-item (click)="updatePicture()">Update Picture</button>-->
    <!--<ion-item>-->
      <!--<ion-label>Customer Code {{profile.customer_code}}</ion-label>-->
    <!--</ion-item>-->

    <ion-item>
      <ion-label floating>Customer Code</ion-label>
      <ion-input type="text" [(ngModel)]="profile.code" disabled="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Firstname</ion-label>
      <ion-input type="text" [(ngModel)]="profile.first_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="profile.last_name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="profile.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-textarea [(ngModel)]="profile.address"> </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>City</ion-label>
      <ion-input type="text" [(ngModel)]="profile.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>State</ion-label>
      <ion-input type="text" [(ngModel)]="profile.state"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Postal Code</ion-label>
      <ion-input type="text" [(ngModel)]="profile.postalcode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Country</ion-label>
      <ion-input type="text" [(ngModel)]="profile.country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Phone</ion-label>
      <ion-input type="text" [(ngModel)]="profile.phone"></ion-input>
    </ion-item>



    <!--<button ion-item (click)="changeUsername()">Change Username</button>-->
    <!--<button ion-item (click)="changePassword()">Change Password</button>-->
    <!--<button ion-item (click)="logout()">Logout</button>-->
  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="profileUpdate()">Save</button>
  </div>
</ion-content>
