<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Flight Schedules</ion-title>

  </ion-navbar>

</ion-header>

<ion-content>
  <ion-spinner class="loadingSearch" name="dots" *ngIf="loadingSearch"></ion-spinner>
  <ion-grid>
    <!-- Header -->
    <!--<ion-row>-->
      <!--<ion-col>-->
        <!--<strong>Duration</strong>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<strong>Departure</strong>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<strong>Arrival</strong>-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--<strong>Price</strong>-->
      <!--</ion-col>-->
    <!--</ion-row>-->

    <!-- Body -->
    <ion-row class="searchTableRow" *ngFor="let row of flights.Parse" (click)="detailFlight(row)">
      <ion-col>
        <!--<img src="assets/img/appicon.svg">-->
        <!--<img src="{{'/assets/api.travelport/images/' + row.PlatingCarrier + '.png'}}" alt="not found" style="height: 40px;display:block;margin:0 auto;" onError="this.src='/assets/img/appicon.png'"  >-->
        <img class="carrierIcon" src="{{'assets/api.travelport/images/' + row.PlatingCarrier + '.png'}}" alt="carrier icon" >
        <span class="carrierLabel">{{airlinesByIata(row.PlatingCarrier)}}</span>
      </ion-col>
      <ion-col>
        <!--<span style="display:block;text-align:center;">{{row.Journey.Routes[0].DepartureTime | date:'hh:mm a'}}-{{row.Journey.Routes[0].ArrivalTime | date:'hh:mm a'}}</span>-->
        <span style="display:block;text-align:center;">{{(row.Journey.Routes[0].Duration.d*24 +
              row.Journey.Routes[0].Duration.h) + 'h ' +
              row.Journey.Routes[0].Duration.i + 'm'}} - {{row.Journey.Routes[0].Stops === 1 ? 'Non stop' : row.Journey.Routes[0].Stops -1 + ' stop'}}</span>
      </ion-col>
      <ion-col>
        <span style="text-align:right;display:block;">{{row.Price.TotalPrice}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
