<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Cities
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>


    <!--<ion-buttons end>-->
    <!--<button ion-button (click)="applyCitiess()">Done</button>-->
    <!--</ion-buttons>-->
  </ion-toolbar >
  <ion-toolbar no-border-top color="light">
    <ion-searchbar
      [(ngModel)]="myInput"
      (ionInput)="getItems(myInput)"
      (ionCancel)="dismiss($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>




<ion-content class="outer-content">

  <ion-list>
    <!--<ion-list-header>Cities</ion-list-header>-->

    <ion-item *ngFor="let item of data" [attr.country]="item.cn | lowercase">
      <span item-left class="dot"></span>
      <ion-label (click)="meSelected(item)">{{item.cn}}-{{item.ct}}({{item.ac}})</ion-label>
    </ion-item>

  </ion-list>
  <ion-card *ngIf="myInput.length >= 3 && data.length == 0">
    <ion-card-content>
     No result found
    </ion-card-content>
  </ion-card>
</ion-content>
