<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upcomming Flights</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <p>
    No data found
  </p>
</ion-content>
