<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Shipping Address</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form #shippingAddressForm="ngForm" novalidate>
    <ion-list>



      <ion-item>
        <ion-label floating>shipping_firstname</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_firstname" name="shipping_firstname" type="text" #shipping_firstname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_firstname.valid || submitted == false" color="danger" padding-left>
        shipping_firstname is required
      </p>


      <ion-item>
        <ion-label floating>shipping_lastname</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_lastname" name="shipping_lastname" type="text" #shipping_lastname="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_lastname.valid || submitted == false" color="danger" padding-left>
        shipping_lastname is required
      </p>


      <ion-item>
        <ion-label floating>shipping_email</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_email" name="shipping_email" type="text" #shipping_email="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_email.valid || submitted == false" color="danger" padding-left>
        shipping_email is required
      </p>


      <ion-item>
        <ion-label floating>shipping_address</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_address" name="shipping_address" type="text" #shipping_address="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_address.valid || submitted == false" color="danger" padding-left>
        shipping_address is required
      </p>


      <ion-item>
        <ion-label floating>shipping_city</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_city" name="shipping_city" type="text" #shipping_city="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_city.valid || submitted == false" color="danger" padding-left>
        shipping_city is required
      </p>


      <ion-item>
        <ion-label floating>shipping_state</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_state" name="shipping_state" type="text" #shipping_state="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_state.valid || submitted == false" color="danger" padding-left>
        shipping_state is required
      </p>


      <ion-item>
        <ion-label floating>shipping_postalcode</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_postalcode" name="shipping_postalcode" type="text" #shipping_postalcode="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_postalcode.valid || submitted == false" color="danger" padding-left>
        shipping_postalcode is required
      </p>


      <ion-item>
        <ion-label floating>shipping_country</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_country" name="shipping_country" type="text" #shipping_country="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_country.valid || submitted == false" color="danger" padding-left>
        shipping_country is required
      </p>


      <ion-item>
        <ion-label floating>shipping_phone</ion-label>
        <ion-input [(ngModel)]="shippingAddress.shipping_phone" name="shipping_phone" type="text" #shipping_phone="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="shipping_phone.valid || submitted == false" color="danger" padding-left>
        shipping_phone is required
      </p>














    </ion-list>
    <div padding>
      <button ion-button color="primary" block (click)="shippingAddressUpdate(shippingAddressForm)"  type="submit">Save</button>
    </div>
  </form>
</ion-content>
