<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-page">

  <ion-list>
    <div class="logo">
      <img src="assets/img/appicon.svg">
    </div>

    <form #signupForm="ngForm" novalidate>
      <ion-item>
        <ion-label floating color="primary">Name</ion-label>
        <ion-input [(ngModel)]="signup.name" name="name" type="text" #name="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="name.valid || submitted == false" color="danger" padding-left>
        Name is required
      </p>

      <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input [(ngModel)]="signup.email" name="email" type="text" #email="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="email.valid || submitted == false" color="danger" padding-left>
        Email is required
      </p>

      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input [(ngModel)]="signup.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="password.valid || submitted == false" color="danger" padding-left>
        Password is required
      </p>

      <ion-item>
        <ion-label floating color="primary">Confirm Password</ion-label>
        <ion-input [(ngModel)]="signup.confirmPassword" name="confirmPassword" type="password" #confirmPassword="ngModel" required>
        </ion-input>
      </ion-item>
      <p [hidden]="confirmPassword.valid || submitted == false" color="danger" padding-left>
        Confirm Password is required
      </p>

      <div padding>
        <button ion-button (click)="onSignup(signupForm)" type="submit" block color="primary">Create</button>
      </div>
    </form>
  </ion-list>

</ion-content>
